@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --k-theme-color-primary: #3b82f6;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
